<!DOCTYPE html>

<html>
	<head>
		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		
		<!-- Bootstrap css/js -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			
		<!-- Treeview css/js -->
		<link href="/bootstrap-treeview/css/bootstrap-treeview.css" rel="stylesheet">
		<script src="/bootstrap-treeview/js/bootstrap-treeview.js"></script>
		
		<!-- Site css -->
		<link rel="stylesheet" href="/main.css" />
	</head>
	<body>
		<div class="row banner-row">
			<div class="col-sm-12 my-div2">
				<a href="/" class="banner-heading">{{ site.name }}</a>
				<p>Version 1.0</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div style="margin-top: 20px;">  </div>
				<div id="treeview1" style="margin-left: 10px;"></div>
			</div>
			<div class="col-sm-9">
				<div class="content-div">
					{{ content }}
				</div>
			</div>			
		</div>
		
		<script type="text/javascript">
  		$(function() {
			var defaultData = [
			   {% for item in site.data.nav.docs %}
			   {
					text: '{{ item.title }}',
					href: '{{ item.url }}',
					state: {
						selected: (window.location.pathname == '/{{ item.url }}' || window.location.pathname == '{{ item.url }}')
					}{% if item.docs %},
					nodes: [
						{% for subitem in item.docs %} {
							text: '{{ subitem.title }}',
							href: '{{ subitem.url }}'
						}{% if forloop.last == false %},{% endif %}
						{% endfor %}
					]
					{% endif %}
			   }{% if forloop.last == false %},{% endif %}
			   {% endfor %}					
			];
		
			$('#treeview1').treeview({
			  data: defaultData,
			  enableLinks: false,
			  selectedBackColor: '#4276B6',
			  onNodeSelected: function(event, data) {
				// alert('Selected!');
				location.href = data.href;
			  }
			});			
		});
		</script>
	</body>
</html>
